@font-face {
    font-family: 'iconfont';  /* project id 572320 */
    src: url('https://at.alicdn.com/t/font_572320_pb0vohvcgeamunmi.eot');
    src: url('https://at.alicdn.com/t/font_572320_pb0vohvcgeamunmi.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_572320_pb0vohvcgeamunmi.woff') format('woff'),
    url('https://at.alicdn.com/t/font_572320_pb0vohvcgeamunmi.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_572320_pb0vohvcgeamunmi.svg#iconfont') format('svg');
}


*{
    list-style:none;
    margin:0;
    padding:0;
    text-decoration: none;
}
.all-back{
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.head{
    width: 100vw;
    height: 2.35rem;
    background: #009CFF;
    position: fixed;
    top:0;
    z-index: 1;
}
.kong11111{
    width: 100vw;
    height: 2.35rem;
}